@font-face {
  font-family: 'balonku';
  src: url('./metadata/font/BalonkuRegular-la1w.otf');
}
@font-face {
  font-family: 'cutie';
  src: url('./metadata/font/CutiePatootie-Rgjv.ttf');
}
@font-face {
  font-family: 'sunny';
  src: url('./metadata/font/SunnyspellsRegular-MV9ze.otf');
}

:root {
  --primary: #e87883;
  --secondary: #fdf6f2;
  --base: #1e1e2e;
  --green: #a6e3a1;
  --greenTran: rgba(166, 227, 161, 0.5);
  --brown: #5c3c22;
  --brownTran: rgba(92, 60, 34, 0.5);
  --brownPrimeMix: #8e554a;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  background-color: var(--primary);
  color: var(--secondary);

  overflow-x: hidden;
  overflow-y: auto;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none; 
}

.prevent-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
}


header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 24px;
}

#yawnLeftHeader {
  width: 160px;
  animation: float 1.6s ease-in-out infinite, shake 1.6s linear infinite;
}
#headerTitle {
  width: 320px;
  animation: float 3s ease-in-out infinite;
}
#yawnRightHeader {
  width: 160px;
  animation: float 1.6s ease-in-out infinite, shake 1.6s linear infinite;
}

@keyframes float {
  0% { 
    transform: translate(0, 0px); 
  } 
  25% { 
    transform: translate(0, 4px); 
  } 
  50% { 
    transform: translate(0, 0px); 
  } 
  75% { 
    transform: translate(0, -4px); 
  } 
  100% { 
    transform: translate(0, 0px); 
  } 
}

@keyframes shakeOnly {
  0% { 
    transform: rotate(1deg); 
  } 
  25% { 
    transform: rotate(-2deg); 
  } 
  50% { 
    transform: rotate(1deg); 
  } 
  75% { 
    transform: rotate(-2deg); 
  } 
  100% { 
    transform: rotate(1deg); 
  }  
}

@keyframes shake {
  0% { 
    transform: translate(0, 0px) rotate(1deg); 
  } 
  25% { 
    transform: translate(0, 4px) rotate(-2deg); 
  } 
  50% { 
    transform: translate(0, 0px) rotate(1deg); 
  } 
  75% { 
    transform: translate(0, -4px) rotate(-2deg); 
  } 
  100% { 
    transform: translate(0, 0px) rotate(1deg); 
  } 
}


main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 64px);
  max-width: 880px;
  margin-top: calc(222px + 64px);
  padding-bottom: 222px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

#memesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
#memesContainer img {
  width: 320px;
  animation: float 3s ease-in-out infinite;
}
#memesContainer img:nth-child(odd) {
  margin-right: auto;
}
#memesContainer img:nth-child(even) {
  margin-left: auto;
}

#fillerContainer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
#fillerContainer img {
  width: 240px;
}
#fillerContainer img:nth-child(odd) {
  margin-left: 240px;
}
#fillerContainer img:nth-child(even) {
  margin-right: 240px; 
}

#coffeeCupImg {
  margin-top: 32px;
  width: 128px !important;
  animation: shakeOnly 3s linear infinite;
}

#starsSolidBigImg {
  margin-top: 80px;
  width: 272px !important;
  animation: blink 0.8s step-start 0s infinite;
}
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

#gemImg {
  margin-top: 64px;
  width: 176px !important;
  animation: float 4s ease-in-out infinite;
}

#starsPixelImg {
  margin-top: 112px;
  width: 160px !important;
  animation: blink 0.69s step-start 0s infinite;
}

#arrowHeartFlowerImg {
  margin-top: 128px;
  width: 320px !important;
  animation: float 3s ease-in-out infinite, shake 3s linear infinite;
}

#heartsNstarsImg {
  margin-top: 112px;
  width: 196px !important;
  animation: float 4s ease-in-out infinite;
}


footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 16px;
}

#socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
#socials button {
  color: var(--secondary);
  background-color: var(--brownTran);
  border: 3px solid var(--brownPrimeMix);
  padding: 4px 12px;
  font-family: 'cutie';
  font-size: 1.6rem;
  letter-spacing: 4px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  cursor: pointer;
}
#buyBtn {
  background-color: var(--greenTran) !important;
  animation: float 3s ease-in-out infinite;
}

#contractContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 16px;
  padding: 16px;
  border: 3px solid var(--brownPrimeMix);
  background-color: var(--brownTran);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#contractContainer span {
  color: var(--secondary);
  font-family: 'cutie';
  letter-spacing: 4px;
  font-size: 1.4rem;
  word-break: break-all;
}

#contractContainer button {
  color: var(--secondary);
  background-color: var(--primary);
  border: 3px solid var(--brownPrimeMix);
  padding: 4px 12px;
  font-family: 'cutie';
  font-size: 1.6rem;
  letter-spacing: 4px;
  cursor: pointer;
}
#copyContractBtn {
  color: var(--brown);
}


@media screen and (max-width: 736px) {

  header {
    width: calc(100% - 24px);
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 8px;
  }

  #yawnLeftHeader {
    align-self: flex-start;
    width: 96px;
  }
  #headerTitle {
    align-self: center;
    width: 240px;
    margin-top: -16px;
  }
  #yawnRightHeader {
    align-self: flex-end;
    width: 96px;
  }


  main {
    margin-top: 288px;
    gap: 8px;
    padding-bottom: 208px;
    width: calc(100% - 24px);
  }

  #memesContainer {
    gap: 8px;
  }
  #memesContainer img {
    width: 160px;
  }


  footer {
    width: calc(100% - 24px);
    margin-bottom: 12px;
    gap: 12px;
    white-space: wrap;
  }

  #socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px; 
  }

  #socials button {
    border: 3px solid var(--brownPrimeMix);
    padding: 4px 12px;
    font-family: 'cutie';
    font-size: 1.4rem;
    letter-spacing: 3px;
  }

  #contractContainer {
    white-space: wrap;
    gap: 12px;
    padding: 12px;
    border: 3px solid var(--brownPrimeMix);
    background-color: var(--brownTran);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  #contractContainer span {
    letter-spacing: 2px;
    font-size: 1.2rem;
  }

  #contractContainer button {
    border: 3px solid var(--brownPrimeMix);
    padding: 8px 8px;
    font-size: 1.4rem;
    letter-spacing: 3px;
  }

}